<div class="row" ng-init="vo.executeSelf() ; vo.isView = true">
	<div class="col-lg-12 dashboard-section">
		<!-- Table header with user info -->
		<div class="row">	
			<div class="col-lg-12 user-header">
				<h4>Trader Desktop</h4>
				<div class="user-info text-right">
					<span class="user-name" ng-bind="vo.userName"></span>
					<a class="sign-out-link" ng-click="vo.destSession()">Sign Out</a>
				</div>
			</div>
		</div>
		<div class="row space-top-inset-size--1x space-bottom-inset-size--1x">
			<div class="col-xs-9">
				<button type="button" class="btn btn-primary custom-size" data-toggle="modal" data-target=".bs-example-modal-sm">Trade</button>
				<button class="btn btn-primary custom-size" type="submit" ng-click="vo.deleteOrders()">Delete All</button>
				<button class="btn btn-primary custom-size" type="submit" ng-click="vo.getOrders()">Refresh</button>
			</div>
			<div class="col-xs-3 text-right">
				<div class="icon-font selected" ng-click="vo.isView = false" ng-class="{'selected': vo.isView == false}"><span class="icon icon-table" aria-hidden="true"></span></div>
				<div class="icon-font" ng-click="vo.isView = true" ng-class="{'selected': vo.isView == true}"><span class="icon icon-bar-chart" aria-hidden="true"></span></div>
			</div>
		</div>
		<!-- Table View -->
		<div class="row" ng-if="vo.isView == false">
			<div class="col-lg-12 space-left-inset-size-none space-right-inset-size-none">
				<div class="table-responsive">
				  <table class="table">
				  	<thead>
				      <tr>
				         <th>Id</th>
				         <th>Creation Time</th>
				         <th>Side</th>
				         <th>Symbol</th>
				         <th>Quantity</th>
				         <th>Placed</th>
				         <th>Executed</th>
				         <th>Limit Price</th>
				         <th>Priority</th>
				         <th>Status</th>
				         <th>Traders</th>				         
				      </tr>
				   </thead>
				   <tbody>
				      <tr ng-repeat="order in vo.orders">
				         <td ng-bind="order.id"></td>
				         <td ng-bind="order.creationTime"></td>
				         <td ng-bind="order.side"></td>
				         <td ng-bind="order.symbol"></td>
				         <td ng-bind="order.quantity"></td>
				         <td ng-bind="order.quantityPlaced"></td>
				         <td ng-bind="order.quantityExecuted"></td>
				         <td ng-bind="order.limitPrice"></td>
				         <td ng-bind="order.priority"></td>
				         <td ng-bind="order.status"></td>
				         <td ng-bind="order.traderId"></td>
				      </tr>
				   </tbody>
				  </table>
				</div>
			</div>
		</div>

		<!-- Graph View -->
		<div class="row" ng-if="vo.isView">
			<div class="col-lg-12">
				<h2>Graph section</h2>
				<div data-at-barchart></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Popup -->
<div class="modal fade bs-example-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <form ng-submit="vo.createOrders()" method="get" novalidate>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Multiple Trades</h4>
      </div>
      <div class="modal-body">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email number of trades</label>
		    <input type="text" class="form-control" ng-model="vo.numberOfOrders" placeholder="Email number of trades" required>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->