/*
#	Author : Harsh Kumar Lamba
#	Date : 9th Jan 2015
*/

//Colors
$black: #000000;
$sign-out: #0000ff;
$grey: #c0c0c0;
$total-order : #fff4ce;
$placed-order : #fdbd5a;
$executed-order : #fd8300;


//Fonts
$font-family-small : Arial, Regular, 12pt;
$font-family-medium : Arial, Regular, 14pt;
$font-family-large : Arial, Regular, 16pt;
