/*
#	Author : Harsh Kumar Lamba
#	Date : 2nd Feb 2015
*/

.graph-bg{
	background:#fff;
}
.axis text {
  font: 10px sans-serif;
}

.x-axis{
	path, line{
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
}

.y-axis{
	path, line{
		fill: none;
	}	
	text{
		font-size:12px;
	}
}

.text-labels{
	font-size:12px;
}