//Padding spacer bottom
.space-bottom-size1x{
	margin-bottom:15px;
}
.space-bottom-size0x{
	margin-bottom:10px;
}

.space-top-size1x{
	margin-top:15px;
}
.space-top-size0x{
	margin-top:10px;
}

.space-top-inset-size--1x{
	padding-top:5px;
}
.space-bottom-inset-size--1x{
	padding-bottom:5px;
}

.space-left-inset-size-none{
	padding-left:0;
}
.space-right-inset-size-none{
	padding-right:0;
}
